@model ASPMicroSocialPlatform.Models.Post

<h2>Editeaza postarea</h2>

<hr />
<br />

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <label asp-for="Id" style="display:none"></label>
    <div class="form-group">
        <label asp-for="Description">Descriere:</label>
        <textarea asp-for="Description" class="form-control">@Model.Description</textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br />
    @if (!string.IsNullOrEmpty(Model.Image))
    {
        <input type="hidden" name="ExistingImagePath" value="@Model.Image" />
        <img id="previewImage" style="height:300px; width: auto;" src="@Model.Image" class="card-img-top" alt="...">
    }
    else
    {
        <img id="previewImage" style="display:none; height:300px; width: auto;" class="card-img-top" alt="...">
    }
    <br />
    <div class="form-group">
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <label asp-for="Image" class="btn btn-primary" id="changeImg">Schimba Imaginea</label>
        }
        else
        {
            <label asp-for="Image" class="btn btn-primary" id="changeImg">Incarca Imaginea</label>
        }
        <input asp-for="Image" id="Image" style="visibility: hidden" type="file" onchange="previewFile()">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Editeaza</button>
</form>

<script>
    function previewFile() {
        var preview = document.querySelector('img');
        var file = document.querySelector('input[type=file]').files[0];
        var reader = new FileReader();
        var changeImg = document.getElementById('changeImg');

        reader.onloadend = function () {
            preview.src = reader.result;
            preview.style.display = "block";
            changeImg.innerHTML = "Schimba Imaginea";
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }
</script>