@model IEnumerable<ASPMicroSocialPlatform.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}


<div class="container py-5">
    <h2 class="mb-4">
        <i class="fas fa-users me-2"></i>Users Directory
    </h2>

    <div class="row g-4">
        @foreach (var user in Model)
        {
            <partial name="_UserCard" model="user" />
        }
    </div>
</div>